* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(20, 20px);
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
}

.player {
  background-color: lightblue;
  z-index: 2;
}

.target {
  background-color: lightgreen;
  z-index: 2;
}

.obstacle {
  background-color: grey;
}

.path {
  background-color: lavender;
  z-index: 1;
}

button {
  outline: none;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
